 MINF_3_Zoran Pantoulas

### Question 1:
Give the names and examples of any 5 data types in Python. Create a simple function that takes an integer as an input and prints out “even” if the number is even and “odd” if the number is odd.

In [31]:
# Strings data types are sequences of characters
one = "A string!"
print(type(one))
# Numeric data types contain integers, floats and complex numbers 
two = 5 # integer
too = 4.0 # float
print(type(two))
# Logical or Booleans can take two values, either True or False
three = True
print(type(three))
# Lists are data types that contain any other data type and are mutable
four = ["This is a list of ",one, two, three]
print(type(four))
# Dictionary is an unordered collection of pairs of keys and values
five = {"names":["one","two","three","four"], "datatypes":["string","numeric","logical","list"]}
print(type(five))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>
<class 'dict'>

In [24]:
def even_odd(num):
    if num % 2 == 0:
        return("even")
    else:
        return("odd")
print(even_odd(12))        
print(even_odd(7))

even
odd

### Question 2:
Write a Python function that takes a list of integers as input and returns the sum of all the integers in the list. For example, if the input list is [1, 2, 3, 4, 5], the function should return 15, which is the sum of all the integers in the list.

To solve this problem, you will need to use data types (lists, integers), loops (for loop), and functions (defining a function to calculate the sum of a list of integers).

In [28]:
def sum_of_integers(int_list):
    tot = 0
    for num in int_list:
        tot += num
    return tot

numbers = [1,2,3,4,5]
sum_of_integers(numbers)

15

### Question 3:
Create a class called Person that has the following attributes:

name (a string)
age (an integer)
gender (a string)
The class should have a method called greet that takes no input parameters and prints out a greeting message with the person's name.

In [52]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def greet(self):
        print(f"Hello, my name is {self.name}!")
        
person1 = Person("John",20,"Male")

person1.greet()

Hello, my name is John!

### Question 4:
Use NumPy to create a 2D array with the following values:
1 2 3

4 5 6

Convert the NumPy array into a Pandas DataFrame with the column names "A", "B", and "C".
Use Pandas to select the second row of the DataFrame.
Use Pandas to select the value in column "B" of the second row.

In [56]:
import numpy as np
import pandas as pd

In [57]:
# Create a 2D array using NumPy
a = np.array([(1,2,3),(4,5,6)])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [69]:
# Convert the array into a Pandas DataFrame with column names "A","B","C"
b = pd.DataFrame(a, columns =["A","B","C"])
b

   A  B  C
0  1  2  3
1  4  5  6

In [90]:
# Using Pandas select the second row of the DataFrame
row = b[1:2]
row
# alternatively uncomment the lines below
# row1 = b.iloc[1]
# print(row1)

   A  B  C
1  4  5  6

In [88]:
# Using Pandas select the values in Column "B"
value = b.loc[1,"B"]
value

5